<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
        <h2 class="footer-heading">Adam Neumann's blog</h2>
        <ul class="contact-list">
          <li class="p-name">Adam Neumann</li>
          <li><a class="u-email" href="mailto:blog@noizwaves.com">blog@noizwaves.com</a></li>
        </ul>
      </div>

      <div class="footer-col one-half">
        <p>Technical blog of Adam Neumann. Senior Solutions Architect at Pivotal Software in Boulder, CO.
        </p>
      </div>
    </div>
    <div class="footer-col-wrapper">
      <div class="social-links">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/noizwaves">
              <span class="username">Github</span>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com/noizwaves">
              <span class="username">Twitter</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>