<html>
<head>
  <title>{{ model.title }}</title>
  {% include "meta.html.liquid" %}
</head>
<body>
{% include "header.html.liquid" %}
<main class="page-content">
  <div class="wrapper">
    <div class="home">
      <h2 class="post-list-heading">Posts</h2>
      <ul class="post-list">
        {% for post in model.posts -%}
        <li>
          <span class="post-meta">{{ post.createdAt }}</span>
          <h3>
            <a class="post-link" href="{{ post.link }}">
              {{ post.title }}
            </a>
          </h3>
        </li>
        {% endfor -%}
      </ul>
    </div>
  </div>
</main>
{% include "footer.html.liquid" %}
</body>
</html>

